body {
  background-image: linear-gradient(#000000, #000000, #434343);
  padding: 0.3em;
  min-height: 100vh;
}

.logo {
  margin-bottom: 1vh;
  max-width: 45vh;
  max-height: 45vh;
}

.title {
  font-weight: bold;
  font-size: 5em;
  color: white;
  margin-bottom: 0.1em;
}

.subtitle {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.80);
  margin-top: 0;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
}

.info-container {
  padding-top: 75px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
	.info-container {
	 	padding-top: 10em;
	 	padding-bottom: 0px;
	}

	.subtitle {
		max-width: 25em;
		margin-left: 0;
	}

	.input {
		text-align: left !important;
	}
}

.screenshot {
  max-height: 87vh;
  margin-top: 1em;
}

.tinted {
  color: #6680F9 !important;
}

.tinted:hover,
.tinted:active,
.tinted:focus,
.tinted.active {
  color: #4D67E0 !important;
}

.white-tinted {
  color: rgb(210, 210, 210) !important;
}

.btn-zeeb {
  color: #fff;
  background-color: #6680F9;
  border-color: #6680F9;
}

.btn-zeeb:hover,
.btn-zeeb:active,
.btn-zeeb:focus,
.btn-zeeb.active {
  background: #4D67E0;
  color: #ffffff;
  border-color: #4D67E0;
}

.fab:hover,
.fab:active,
.fab:focus {
  opacity: 0.75;
  text-decoration: none;
}

.input {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	margin-top: 10px;
	text-align: center;
	color: rgba(255, 255, 255, 0.40);
}

::selection {
    background-color: rgba(102, 128, 249, 0.25);
}
