@media only screen and (max-device-width: 700px) {
    body {
        text-align: center;
    }

    .zebraFeatures{
            font-size: 12px;

    }

    .zebraScreenshot {
        overflow: visible;
        width: 50%;
    }

}