video {
    width: 100%   !important;
    height: auto  !important;
}

.credits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    min-width: 240px;
}

.userImage {
    border-radius: 50%;
}
