[submodule "Vendor/SDWebImage"]
	path = Vendor/SDWebImage
	url = https://github.com/SDWebImage/SDWebImage.git
[submodule "Vendor/LNPopupController"]
	path = Vendor/LNPopupController
	url = https://github.com/LeoNatan/LNPopupController.git
[submodule "Vendor/CocoaMarkdown"]
	path = Vendor/CocoaMarkdown
	url = https://github.com/indragiek/CocoaMarkdown.git
	ignore = dirty
