[submodule "Vendor/Plains"]
	path = Vendor/Plains
	url = https://github.com/zbrateam/Plains-Dev.git
[submodule "Vendor/DepictionKit"]
	path = Vendor/DepictionKit
	url = https://github.com/RepositoryStandards/DepictionKit.git
