Package: xyz.willy.zebra
Name: Zebra (BETA)
Version: 1.0~beta20-3
Architecture: iphoneos-arm
Depends: dpkg, uikittools
Description: A Useful Package Manager
Maintainer: Wilson Styres <wilson@styres.me>
Author: Wilson Styres <wilson@styres.me>
Section: Packaging
Depiction: https://xtm3x.github.io/repo/depictions/xyz.willy.zebra/
Tag: purpose::x
