Package: com.getzbra.zebra2
Name: Zebra 2 (iOS 13 – 15)
Version: 2.0~alpha4
Architecture: iphoneos-arm
Depends: firmware (>= 13.0), dpkg, uikittools, libapt-pkg5.0 (>= 1.8.0) | libapt-pkg6.0 (>= 2.3.0)
Conflicts: xyz.willy.zebra
Replaces: xyz.willy.zebra
Provides: xyz.willy.zebra
Description: A Useful Package Manager
 THIS IS AN ALPHA VERSION OF ZEBRA NOT MEANT TO BE USED AS YOUR ONLY PACKAGE MANAGER. DO NOT INSTALL IT IF YOU ARE NOT COMFORTABLE WITH ANY ISSUES THAT MAY ARISE WHILE USING IT.
 .
 THIS VERSION OF ZEBRA IS CURRENTLY ONLY AVAILABLE TO USERS WITH A PROCURSUS BOOTSTRAP.
 .
 Zebra is a package manager for jailbroken iOS devices.
 .
 It supports most modern iOS versions and provides most features that Cydia does, while being notably quicker.
 .
 If there are any issues you encounter, features you want to request, or anything else, please send me an email or file an issue on our GitHub and I'll quickly get back to you.
Maintainer: Zebra Team <team@getzbra.com>
Author: Zebra Team <team@getzbra.com>
Section: Packaging
Icon: file:///Applications/Zebra.app/AppIcon60x60@3x.png
Depiction: https://getzbra.com/repo/depictions/xyz.willy.Zebra/
Support: https://getzbra.com/repo/depictions/xyz.willy.Zebra/bug_report.html
Tag: compatible::13.0-15.2
