Package: xyz.willy.zebra
Name: Zebra
Version: 1.1~beta5-1
Architecture: iphoneos-arm
Depends: dpkg, uikittools, firmware (>= 9.0)
Provides: cydia
Description: A Useful Package Manager
Maintainer: Wilson Styres <wilson@styres.me>
Author: Wilson Styres <wilson@styres.me>
Section: Packaging
Depiction: https://getzbra.com/beta/depictions/xyz.willy.Zebra/
Tag: compatible::9.0-13.4
