<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>platform-application</key>
		<true/>
		<key>com.apple.private.skip-library-validation</key>
		<true/>
		<key>com.apple.private.security.no-container</key>
		<true/>
		<key>get-task-allow</key>
		<true/>
		<key>proc_info-allow</key>
		<true/>
		<key>task_for_pid-allow</key>
		<true/>
		<key>com.apple.private.network.statistics</key>
		<true/>
		<key>com.apple.private.security.sandbox.debug-mode</key>
		<true/>
		<key>com.apple.security.temporary-exception.sbpl</key>
		<array>
			<string>(allow signal)</string>
			<string>(allow process-info-listpids)</string>
			<string>(allow process-info*)</string>
		</array>
		<key>com.apple.security.exception.process-info</key>
		<array/>
		<key>com.apple.system-task-ports</key>
		<true/>
	</dict>
</plist>
