<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486848156346-qisrk89bo7tt213jqqvpbbdf7tq8b7jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486848156346-qisrk89bo7tt213jqqvpbbdf7tq8b7jd</string>
	<key>API_KEY</key>
	<string>AIzaSyDeOAqVpMutn5_UIJmbsCi6oj6Pm3ZQIkc</string>
	<key>GCM_SENDER_ID</key>
	<string>486848156346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.willy.Zebra</string>
	<key>PROJECT_ID</key>
	<string>zebra-fda54</string>
	<key>STORAGE_BUCKET</key>
	<string>zebra-fda54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:486848156346:ios:8e5ba36055e8dc3b8e6883</string>
	<key>DATABASE_URL</key>
	<string>https://zebra-fda54.firebaseio.com</string>
</dict>
</plist>
