<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>utiicon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Debian Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.debian.deb-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>utiicon.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>APT Sources List</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.debian.sources-list</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>utiicon.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sileo Sources List</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.coolstar.sileo-sources</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>darkZebraSkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>darkZebraSkin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>lightZebraSkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightZebraSkin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>zBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>zBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>zWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>zWhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>darkZebraSkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>darkZebraSkin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>lightZebraSkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightZebraSkin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>zBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>zBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>zWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>zWhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>utiicon</string>
			<key>CFBundleURLName</key>
			<string>Zebra</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sileo</string>
				<string>zbra</string>
				<string>cydia</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SBAppUsesLocalNotifications</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Repo</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Add</string>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Debian Package</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>utiicon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.debian.deb-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>deb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-debian-package</string>
					<string>application/x-deb</string>
					<string>application/vnd.debian.binary-package</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>APT Sources List</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>utiicon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.debian.sources-list</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>list</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sileo Sources List</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>utiicon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.coolstar.sileo-sources</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sources</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
